@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: "M PLUS 1p";
    font-size:16px;
    color:rgb(97, 93, 93);
}

@media screen and (min-width:300px) and ( max-width:780px) {
  body p {
    font-size:14px;
  }
}

/* font関連 */
.bg-1{
    background-color: rgb(255, 255, 255);
}

footer {
    width: 100%;
    font-size:16px;
}
@media screen and (min-width:300px) and ( max-width:780px) {
  footer p {
    font-size:18px;
  }
}

li a { 
  color: #fbff00; 
}

a:hover{
  color:#00eeff;
} 

h1{
  font-size:70px;
  color:rgb(54, 104, 240);
  /* font-family: 'M+ Type-1 (general-j) Black'; */
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width:300px) and ( max-width:780px) {
  h1{
    font-size:30px;
  }
}

h2 {
  font-size:30px;
  color: rgb(81, 96, 117);
  font-family: 'M+ Type-1 (general-j) Black';
  background:linear-gradient(transparent 60%, rgb(80, 194, 247) 90%);
  font-style: italic;
  font-weight: bold;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  h2{
    font-size:18px;
  }
}

h2:first-letter{
  color:rgb(54, 104, 240);
  font-size:200%;
  font-weight: bold;
}

.kind{
  font-size:50px;
  font-family: 'M+ Type-1 (general-j) Black';
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  .kind {
    font-size:40px;
  }
}

h3 {
  font-size:20px;
  color:rgb(54, 104, 240);
  font-weight: bold;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  h3 {
    font-size:25px;
  }
}

span {
  font-size:20px;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  span {
    font-size:16px;
  }
}

.b-text {
  color:rgb(54, 104, 240);
}

table {
  font-size:1.2vw;
}

header{
  width: 100%;
}

.img-1{
  display: flex;
  align-items: center;
}

.bg-appeal-01 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg');
  color:#ffffff;
  background-size:50% auto;
}


.bg-appeal-02 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/バーチャル.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-appeal-03 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/convertkit-Ky2YPCpnmK0-unsplash.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-exsmple-01 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/開発とは.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-exsmple-02 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/devops.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-exsmple-03 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/コスト.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-lang-01 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/james-harrison-vpOeXr5wmR4-unsplash.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-lang-02 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/positive-gffe556813_1920.jpg');
  color:#ffffff;
  background-size:50% auto;
}

.bg-lang-03 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url('/static/site_app/img/mark-g263e4c72f_1920.jpg');
  color:#ffffff;
  background-size:50% auto;
}






/*========= 上部固定させるためのCSS ===============*/
#header1{
  height: 220px;
  position: fixed;
  z-index: 999;
}

.content1{
  padding-top:220px;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  .content1{
    padding-top:150px;
  }
}

#header{
  height: 220px;
  position: fixed;
  z-index: 999;
}

.content{
  padding-top:220px;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  .content{
    padding-top:150px;
  }
}

/*========= ナビゲーションドロップダウンのためのCSS ===============*/
/*==ナビゲーション全体の設定*/
.nav-1{
  /* background:rgb(107, 135, 151); */
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 217, 255),
    0 0 82px rgb(0, 217, 255),
    0 0 92px rgb(0, 217, 255),
    0 0 102px rgb(0, 217, 255),
    0 0 151px rgb(0, 217, 255);
}

/*ナビゲーションを横並びに*/
.nav-1 ul{
  font-size:25px;
  list-style: none;
  display: flex;
  justify-content: center;
}
/*2階層目以降は横並びにしない*/
.nav-1 ul ul{
  font-size:20px;
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
.nav-1 ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
.nav-1 ul li a{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition:all .3s;
}

.nav-1 ul li a:hover,.nav-1 ul li ul li a:hover{
  color:rgb(251, 255, 43); 
}

/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
.nav-1 li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:62px;
  z-index: 4;
    /*形状を指定*/
  background:rgb(107, 135, 151);
  width:200px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
.nav-1 li.has-child:hover > ul,
.nav-1 li.has-child ul li:hover > ul,
.nav-1 li.has-child:active > ul,
.nav-1 li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
.nav-1 li.has-child ul li a{
  color: rgb(255, 255, 255);
  border-bottom:solid 1px rgb(255, 255, 255);
}

.nav-1 li.has-child ul li:last-child a{
  border-bottom:none;
}

.nav-1 li.has-child ul li a:hover,
.nav-1 li.has-child ul li a:active{
  background:rgb(107, 135, 151);
}

/*==3階層目*/
/*3階層目の位置*/
.nav-1 li.has-child ul ul{
  top:0;
  left:168px;
  background:rgb(107, 135, 151);
}

.nav-1 li.has-child ul ul li a:hover,
.nav-1 li.has-child ul ul li a:active{
  background:rgb(107, 135, 151);
}

@media screen and (min-width:300px) and ( max-width:780px) {
  .nav-1 ul{
    font-size:15px;
  }

  .nav-1 ul ul{
    font-size:14px;
  }
}

/*========= パックマンページネーション ===============*/
.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  --ddim: 10px;
  --rd: 15px;
  --rdim: calc(var(--rd)*2);
  --pm: #1100ff;
}

label {
  content: '';
  margin: 0 10px;
  height: var(--ddim);
  width: var(--ddim);
  background: #005004;
  cursor: pointer;
}

label:first-child {margin-left: 0;}
label:last-child {margin-right: 0;}
input {display: none;}

.pacman {
  content: '';
  position: absolute;
  top: calc(-1*var(--ddim));
  /* left: calc(-1*var(--ddim)/2); */
  height: var(--rdim);
  width: var(--rdim);
  transition: transform 250ms linear;
}

.pacman:before,
.pacman:after {
  content: '';
  position: absolute;
  height: var(--rd);
  width: var(--rdim);
  /* left: 0; */
  background: var(--pm);
  transition: inherit;
}

.pacman:before {
  top: 0;
  border-top-left-radius: var(--rdim);
  border-top-right-radius: var(--rdim);
  transform-origin: bottom center;
  transform: rotate(-45deg);
}

.pacman:after {
  bottom: 0;
  border-bottom-left-radius: var(--rdim);
  border-bottom-right-radius: var(--rdim);
  transform-origin: top center;
  transform: rotate(45deg);
}

@keyframes waka {
  0% {}
  50% {transform: rotate(0);}
  100% {}
}

input[type="radio"]:hover ~ .pacman:before,
input[type="radio"]:hover ~ .pacman:after {
  animation: waka 500ms infinite;
}

/*========= ハンバーガーメニュー===============*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn4{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:rgb(0, 217, 255);
  cursor: pointer;
  width: 50px;
  height:50px;
  border-radius: 5px;
  margin-left: 28px;
  z-index: 100;
}

/*ボタン内側*/
.openbtn4 span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: rgb(4, 0, 255);
  width: 45%;
}

.openbtn4 span:nth-of-type(1) {
  top:13px; 
}

.openbtn4 span:nth-of-type(2) {
  top:19px;
}

.openbtn4 span:nth-of-type(3) {
  top:25px;
}

.openbtn4 span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-2px;
  color: rgb(38, 0, 255);
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
  content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
  top:5px;
  left:4px;
}


/* 各言語のボタン ぽよよんと跳ねる */
.lang-link-btn {
  background:rgb(0, 217, 255);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  animation: bound 2.5s infinite;
  opacity: 1;
}
@keyframes bound {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}

/* 特殊btn 1 */
.btn1,
a.btn1 {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #000000;
  border-radius: 0.5rem;
}

a.btn1-flat {
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000000;
}

a.btn1-flat span {
  position: relative;
  margin:  auto;
}

a.btn1-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00b7ee;
}

a.btn1-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


/* 各ページ用 */
/*========= ナビゲーションドロップダウンのためのCSS（ハンバーガーメニュー） ===============*/
/*==ナビゲーション全体の設定*/
.hidden-menu {
  position:relative;
  z-index: 99;
}
.nav-2{
  font-size:16px;
  background:rgba(0, 0, 0, 0.6);
  width: 250px;
  color:white;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 217, 255),
    0 0 82px rgb(0, 217, 255),
    0 0 92px rgb(0, 217, 255),
    0 0 102px rgb(0, 217, 255),
    0 0 151px rgb(0, 217, 255);
}

/*ナビゲーションを横並びに*/
.nav-2 ul{
  list-style: none;
}

.nav-2>ul {
  margin: 225px 0 0 10px;
}

@media screen and (min-width:300px) and ( max-width:780px) {
  .nav-2{
    font-size:13px;
    background:rgba(0, 0, 0, 0.6);
    width: 200px;
  }

  .nav-2>ul {
    margin: 150px 0 0 10px;
  }
}


/*ナビゲーションのリンク設定*/
.nav-2 ul li a{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition:all .3s;
}

.nav-2 ul li a:hover{
  color:rgb(251, 255, 43); 
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
.nav-2 ul li{
  position: relative;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
.nav-2 ul li.has-child::before{
  content:'';
  position: absolute;
  left:0px;
  top:8px;
  width:6px;
  height:6px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right:2px solid rgb(255, 255, 255);
  transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
.nav-2 ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:0px;
  top:10px;
  width:6px;
  height:6px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right:2px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
.nav-2 li.has-child ul{
  width:200px;
  display: none;
  opacity: 0;
  transition: all .3s;
  z-index: 4;
  padding-left: 10px;
}
.nav-2 li.has-child ul ul{
  width: 130px;
}

/*hoverしたら表示*/
.nav-2 li.has-child:hover > ul,
.nav-2 li.has-child ul li:hover > ul,
.nav-2 li.has-child:active > ul,
.nav-2 li.has-child ul li:active > ul{
  display: block;
  opacity: 1;
}


/*ナビゲーションaタグの形状*/
.nav-2 li.has-child ul ul li a{
  border-bottom:solid 1px rgb(255, 255, 255);
  text-align: center;
}


/* コンテンツ登録・更新フォーム */
.content_form input {
  display: inline-block;
}

.content_form label {
  background: none;
}

.content_form .helptext {
  display: none;
}


/* バグどり */
.bag01{
  margin: 0;
}
.bag01 p{
  margin: 10px;
}
.bag02{
  margin: 0;
  padding: 0;
}


/* 画像要素 */
.div00 {
  animation: flash00 1s infinite;
}
@keyframes flash00 {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(204, 245, 255), 0 0 20px rgb(204, 249, 255), 0 0 30px rgb(153, 240, 255), 0 0 40px rgb(102, 250, 255), 0 0 70px rgb(102, 232, 255), 0 0 80px rgb(153, 255, 216), 0 0 100px rgba(153, 240, 255, 0.4), 0 0 150px rgba(153, 231, 255, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(2, 252, 239) rgb(153, 243, 255) 0 0 40px rgb(153, 240, 255);
  }
}

.div01 {
  background: rgb(47, 78, 255);
  animation: flash01 1s infinite;
}
@keyframes flash01 {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(204, 245, 255), 0 0 20px rgb(204, 249, 255), 0 0 30px rgb(153, 240, 255), 0 0 40px rgb(102, 250, 255), 0 0 70px rgb(102, 232, 255), 0 0 80px rgb(153, 255, 216), 0 0 100px rgba(153, 240, 255, 0.4), 0 0 150px rgba(153, 231, 255, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(2, 252, 239) rgb(153, 243, 255) 0 0 40px rgb(153, 240, 255);
  }
}

.div02 {
  background: rgb(211, 59, 59);
  animation: flash02 1s infinite;
}
@keyframes flash02 {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(255, 204, 204), 0 0 20px rgb(255, 204, 204), 0 0 30px rgb(255, 153, 153), 0 0 40px rgb(255, 189, 102), 0 0 70px rgb(255, 102, 102), 0 0 80px rgb(255, 194, 153), 0 0 100px rgba(255, 153, 153, 0.4), 0 0 150px rgba(255, 153, 153, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(252, 2, 2) rgb(255, 153, 153) 0 0 40px rgb(255, 153, 153);
  }
}

.div03 {
  background: rgb(121, 240, 84);
  animation: flash03 1s infinite;
}
@keyframes flash03 {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(204, 255, 215), 0 0 20px rgb(204, 255, 215), 0 0 30px rgb(153, 255, 153), 0 0 40px rgb(102, 255, 110), 0 0 70px rgb(102, 255, 127), 0 0 80px rgb(153, 255, 167), 0 0 100px rgba(170, 255, 153, 0.4), 0 0 150px rgba(170, 255, 153, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(2, 252, 2)rgb(162, 255, 153) 0 0 40px rgb(153, 255, 175);
  }
}

.div04 {
  background: rgb(255, 222, 37);
  animation: flash04 1s infinite;
}
@keyframes flash04 {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(241, 255, 204), 0 0 20px rgb(250, 255, 204), 0 0 30px rgb(255, 253, 153), 0 0 40px rgb(255, 240, 102), 0 0 70px rgb(255, 245, 102), 0 0 80px rgb(253, 255, 153), 0 0 100px rgba(255, 228, 153, 0.4), 0 0 150px rgba(255, 253, 153, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(252, 235, 2)rgb(162, 255, 153) 0 0 40px rgb(236, 255, 153);
  }
}

/* 表示フェード */
.fade {
  opacity : 0;
  transition: opacity 3s;
}

.fade.scrollin {
  opacity: 1;
}


/* ロードアニメーション */


/* SP用 */
@media screen and (min-width:300px) and ( max-width:780px) {
  .flexbox {
      display: block;
  }
  .flexbox .box1 {
      width: 100%;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
  }
  .flexbox .box2 {
      width: 100%;
      margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
  }

  .flexbox .box3 {
    width: 100%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }

  .anime01{
    width: 130px;
  }

  .sp-logo{
    width: 200px;
  }

  .sp-img{
    width: 250px;
  }

  iframe{
    width:300px;
    height:200px;
  }

}





/* text-shadow:
            3px 3px 0px rgb(0, 214, 214), -3px -3px 0px rgb(0, 214, 214),
           -3px 3px 0px rgb(0, 214, 214),  3px -3px 0px rgb(0, 214, 214),
            3px 0px 0px rgb(0, 214, 214), -3px -0px 0px rgb(0, 214, 214),
            0px 3px 0px rgb(0, 214, 214),  0px -3px 0px rgb(0, 214, 214);

             */