@charset "utf-8";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(234, 255, 255);
    font-family: "M PLUS 1p";
}

.bg-1{
    background-color: rgb(234, 255, 255);
}

footer{
    background-color: rgb(123, 169, 255);
    
}

.font-weight-bold {
  font-weight: 700 !important;
}

h1{
    font-family: 'M+ Type-1 (general-j) Black';
    font-style: italic;
    text-shadow:
            3px 3px 0px rgb(0, 214, 214), -3px -3px 0px rgb(0, 214, 214),
           -3px 3px 0px rgb(0, 214, 214),  3px -3px 0px rgb(0, 214, 214),
            3px 0px 0px rgb(0, 214, 214), -3px -0px 0px rgb(0, 214, 214),
            0px 3px 0px rgb(0, 214, 214),  0px -3px 0px rgb(0, 214, 214);
  margin: 0;

}

h2 {
  font-family: 'M+ Type-1 (general-j) Black';
  background:linear-gradient(transparent 60%, rgb(152, 214, 243) 90%);
  
  font-style: italic;

}

h2:first-letter{
  color:#344abb;
  font-size:200%;
}

.btn-f{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: italic;
  font-weight: 700 !important;
}


/*========= 上部固定させるためのCSS ===============*/
#header{
    width:100%;/*横幅指定*/
    /*以下はレイアウトのためのCSS*/
    justify-content: space-between;
    align-items: center;
  }
  /*JSを使いfixedクラスが付与された際の設定*/
  #header.fixed{
    position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
  }




/*========= ナビゲーションドロップダウンのためのCSS ===============*/
/*==ナビゲーション全体の設定*/
nav{
  background:rgb(123, 169, 255);
  color:#fff;
  text-align: center;
}
/*ナビゲーションを横並びに*/
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition:all .3s;
}

nav ul li a:hover{
  color:rgb(251, 255, 43); 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:43px;
  top:40px;
  width:6px;
  height:6px;
  border-top: 2px solid rgb(255, 255, 255);
    border-right:2px solid rgb(255, 255, 255);
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:0px;
  top:13px;
  width:6px;
  height:6px;
  border-top: 2px solid #fff;
  border-right:2px solid #fff;
  transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */
/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:62px;
  z-index: 4;
    /*形状を指定*/
  background:rgb(123, 169, 255);
  width:200px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255, 255, 255, 1);
}

nav li.has-child ul li:last-child a{
  border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
  background:rgb(123, 169, 255);
}

/*==3階層目*/
/*3階層目の位置*/
nav li.has-child ul ul{
  top:0;
  left:168px;
  background:rgb(123, 169, 255);
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active{
  background:rgb(123, 169, 255);
}

/*========= パックマンページネーション ===============*/
.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  --ddim: 10px;
  --rd: 15px;
  --rdim: calc(var(--rd)*2);
  --pm: #1100ff;
}

label {
  content: '';
  margin: 0 10px;
  height: var(--ddim);
  width: var(--ddim);
  background: #005004;
  cursor: pointer;
}

label:first-child {margin-left: 0;}
label:last-child {margin-right: 0;}
input {display: none;}

.pacman {
  content: '';
  position: absolute;
  top: calc(-1*var(--ddim));
  left: calc(-1*var(--ddim)/2);
  height: var(--rdim);
  width: var(--rdim);
  transition: transform 250ms linear;
}

.pacman:before,
.pacman:after {
  content: '';
  position: absolute;
  height: var(--rd);
  width: var(--rdim);
  left: 0;
  background: var(--pm);
  transition: inherit;
}

.pacman:before {
  top: 0;
  border-top-left-radius: var(--rdim);
  border-top-right-radius: var(--rdim);
  transform-origin: bottom center;
  transform: rotate(-45deg);
}

.pacman:after {
  bottom: 0;
  border-bottom-left-radius: var(--rdim);
  border-bottom-right-radius: var(--rdim);
  transform-origin: top center;
  transform: rotate(45deg);
}

@keyframes waka {
  0% {}
  50% {transform: rotate(0);}
  100% {}
}

input[type="radio"]:hover ~ .pacman:before,
input[type="radio"]:hover ~ .pacman:after {
  animation: waka 500ms infinite;
}

input[id="dot-1"]:checked ~ .pacman {transform: translateX(var(--ddim));}
input[id="dot-2"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)));}
input[id="dot-3"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*2));}
input[id="dot-4"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*3));}
input[id="dot-5"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*4));}
input[id="dot-6"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*5));}
input[id="dot-7"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*6));}
input[id="dot-8"]:checked ~ .pacman {transform: translateX(calc(var(--ddim) + var(--rdim)*7));}



/*========= ハンバーガーメニュー===============*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn4{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#3801ff;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn4 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
  background: #fff;
    width: 45%;
  }


.openbtn4 span:nth-of-type(1) {
  top:13px; 
}

.openbtn4 span:nth-of-type(2) {
  top:19px;
}

.openbtn4 span:nth-of-type(3) {
  top:25px;
}

.openbtn4 span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-2px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
  content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
  top:5px;
  left:4px;
}


/* 各言語のボタン ぽよよんと跳ねる */
.lang-link-btn {
  background:#a7c3f7;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 350px;
  height: 180px;

}
.lang-link-btn {
  animation: bound 2.5s infinite;
  opacity: 1;
}
@keyframes bound {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}

/* 特殊btn 1 */
.btn1,
a.btn1,
button.btn1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #000000;
  border-radius: 0.5rem;
}

a.btn1-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #505d6b;
}

a.btn1-flat span {
  position: relative;
  margin:  auto;
}

a.btn1-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00b7ee;
}

a.btn1-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}