{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}デジタルの魅力|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center right cont-h">デジタルの魅力</h1>
        <div class="row p-4">
            <h2 class="right">人の夢を目標に変えてくれる</h2>
            
            <div class="col-md-8 mt-2 p-3 bg-white ro-X">
                <p>世の中にはいろんな『モノ』があります<br>
                    触れたり、動かしたりすることができて時代とともにどんどん性能やデザインの優れたものが作られるようになりました
                </p>
                <p>でもそんな中で今でも困難なことがあります<br>
                    それは<span class="b-text">未来を仮想で作り上げる</span>ことです<br>
                    今でも限られた人たちが技術を駆使して、新しい時代を切り開いています<br>
                </p>
                <p>でもそれはもう<span class="b-text">限られた人だけができる技術力ではなく</span>なってきています<br>
                    誰でも自由に作りたい仮想空間(バーチャル)で実現でき、現実で実現するためのシミュレーションをすることができます<br> 
                </p>

                <p><span class="b-text">人は夢を無責任に見ていいのです</span>
                    <br>見ていけない夢なんてありません
                </p>    
                <p>もしやりたいことや、実現させたい夢があり、それがデジタルに関わることであれば<br>
                    勇気をもって一歩踏み出してみましょう
                </p>
                <p>デジタルには<span class="b-text">無限の可能性</span>があります
                </p>
            </div>
            <div class="col-md-4 mt-2 p-3">
                <img class="d-block mx-auto ro-Y" alt="デジタルの夢" src="{% static 'site_app/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg' %}" width="100%">
            </div>
        </div>

        <div class="row p-4">
            <h2 class="text-start faderight">リアルでダメでもデジタル(バーチャル)なら</h2>
            
            <div class="col-md-6 bg-white mt-2 p-3 ro-X">
                <p><span class="b-text">『こんなことをしてみたいけど、できるのかな？』</span><br>
                    <span class="b-text">『何百通りの手段があってどれが最適なものなのか選べないかな？』</span><br>
                    こんなことを思った方は少なからずいると思います
                </p>
                <p>リアル(現実)でモノを作り出す前に3Dモデルや、イメージ映像としてシミュレーションしたり<br>
                    AIを使って、人が思考しきれない内容まで把握し、最適な結果を導いてくれることを手助けしてくれます
                </p>
                <p>これは<span class="b-text">デジタルがすごいからではありません</span><br>
                    それをデジタル(バーチャル)な空間で表現したいと思った『人』がいたからこそ実現できたものです<br>
                    AIが人を絶対的に超えることはまだまだ難しいですし、<span class="b-text">豊かな想像力は人の個性がとても大事</span>です
                </p>    
                <p>今話題の<span class="b-text">VR</span>や<span class="b-text">AR</span>で、まだしたことのない体験をしてみませんか？</p>
            </div>
            <div class="col-md-6 mt-2 p-3 ro-Y">
                <img class="d-block mx-auto" alt="VR-room" src="{% static 'site_app/img/room.png' %}" width="100%">
            </div>
        </div>

        <div class="row p-4">
            <h2 class="text-start faderight">多くの人がクリエーターになれる可能性が増えた</h2>
            
            <div class="col-md-6 bg-white mt-2 p-3 ro-X">
                <p><span class="b-text">『何かを作り出すのは大変じゃないの？』</span><br>
                    <span class="b-text">『特別な才能のある人だけしかできないんじゃない』</span><br>
                    こんなことを思っている方が少なからずいるのではないでしょうか？
                </p>
                <p>今ではPCやスマホに全く触れない人の方が稀で、<span class="b-text">Macが無くてもクリエイティブなことはできる</span>ようにいろんなアプリケーションが出てきています<br>
                    デジタルイラストやデザインをPCではなく、<span class="b-text">スマホやタブレットでつくっているクリエーター</span>もいますし、
                    <span class="b-text">ローコードアプリで開発するエンジニア</span>も多くいます
                </p>
                <p>これらのツールやアプリを使いこなすことに<span class="b-text">適正はそれほどありません</span><br>
                    <span class="b-text">唯一あるとしたら粘り強く使い続けられる</span>かだけです</p>
                <p>大事なのは<span class="b-text">自身で何かを作り上げたいという気持ち</span>です<br>
                   もし一人でできないことがあったら私たちや誰かに声をかけてみてください</p>
            </div>
            <div class="col-md-6 mt-2 p-3 ro-Y">
                <img class="d-block mx-auto" alt="これからのクリエーターたちへ" src="{% static 'site_app/img/convertkit-Ky2YPCpnmK0-unsplash.jpg' %}" width="100%">
            </div>
        </div>

        <div class="row p-4 flexbox">
            <div class="col-6 box1 mt-3">
                <a href="{% url 'site_app:lang' %}" class="btn1 btn1-flat d-flex align-items-center"><span>>>>プログラミング</span></a>
            </div>
            <div class="col-6 box2 mt-3">
                <a href="{% url 'site_app:example' %}" class="btn1 btn1-flat d-flex align-items-center"><span>>>>システム開発</span></a>
            </div>
        </div>
        
    </div>

{% endblock %}