{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}デジタルの魅力{% endblock %}

{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center">デジタルの魅力</h1>
        <div class="row p-4">
            <h2>人の夢を目標に変えてくれる</h2>
            <div class="col-12">
                <div class="p-2">
                    <img class="d-block mx-auto sp-img" alt="人に夢を与えてくれる" src="{% static 'site_app/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg' %}" width="50%">
                </div>
            </div>
            <div class="col-12 bg-white mt-3 p-3">
                <p>世の中にはいろんな『モノ』があります<br>
                    触れたり、動かしたりすることができて時代とともにどんどん性能やデザインの優れたものが作られるようになりました
                </p>
                <p>でもそんな中で今でも困難なことがあります<br>
                    それは<span class="text-primary font-weight-bold">未来を仮想で作り上げる</span>ことです<br>
                    今でも限られた人たちが技術を駆使して、新しい時代を切り開いています<br>
                </p>
                <p>でもそれはもう<span class="text-primary font-weight-bold">限られた人だけができる技術力ではなく</span>なってきています<br>
                    誰でも自由に作りたい仮想空間(バーチャル)で実現でき、現実で実現するためのシミュレーションをすることができます<br> 
                </p>

                <p><span class="text-primary font-weight-bold">人は夢を無責任に見ていいのです</span><br>
                    見ていけない夢なんてありません
                </p>    
                <p>もしやりたいことや、実現させたい夢があり、それがデジタルに関わることであれば<br>
                    勇気をもって一歩踏み出してみましょう
                </p>
                <p>デジタルには<span class="text-primary font-weight-bold">無限の可能性</span>があります
                </p>
            </div>
        </div>

        <div class="row p-4">
            <h2>リアルでできないことでもデジタル(バーチャル)なら実現できる</h2>
            <div class="col-12">
                <div class="p-2">
                    <img class="d-block mx-auto sp-img" alt="バーチャル空間" src="{% static 'site_app/img/バーチャル.jpg' %}" width="50%">
                </div>
            </div>
            <div class="col-12 bg-white mt-3 p-3">
                <p><span class="text-primary font-weight-bold">『こんなことをしてみたいけど、できるのかな？』</span><br>
                    <span class="text-primary font-weight-bold">『何百通りの手段があってどれが最適なものなのか選べないかな？』</span><br>
                    こんなことを思った方は少なからずいると思います
                </p>
                <p>リアル(現実)でモノを作り出す前に3Dモデルや、イメージ映像としてシミュレーションしたり<br>
                    AIを使って、人が思考しきれない内容まで把握し、最適な結果を導いてくれることを手助けしてくれます
                </p>
                <p>でもこれは<span class="text-primary font-weight-bold">デジタルがすごいからではありません</span><br>
                    それをデジタル(バーチャル)な空間で表現したいと思った『人』がいたからこそ実現できたものです<br>
                    AIが人を絶対的に超えることはまだまだ難しいですし、<span class="text-primary font-weight-bold">豊かな想像力は人の個性がとても大事</span>です
                </p>    
                <p>今話題の<span class="text-primary font-weight-bold">VR</span>や<span class="text-primary font-weight-bold">AR</span>で、まだしたことのない体験をしてみませんか？</p>
            </div>
        </div>

        <div class="row p-4">
            <h2>多くの人がクリエーターになれる可能性が増えた</h2>
            <div class="col-12">
                <div class="p-2">
                    <img class="d-block mx-auto sp-img" alt="クリエーター" src="{% static 'site_app/img/convertkit-Ky2YPCpnmK0-unsplash.jpg' %}" width="50%">
                </div>
            </div>
            <div class="col-12 bg-white mt-3 p-3">
                <p>こんなことを感じている方が多いのではないですか？<br>
                    <span class="text-primary font-weight-bold">『何かを作り出すのは大変じゃないの？』</span><br>
                    <span class="text-primary font-weight-bold">『新しいものを生み出せるのは特別な才能のある人だけなんじゃない』</span><br>
                    ココまでのことを言葉にする人は少ないですが近いことを話の中で出てくることは多々あります
                </p>
                <p>今ではPCやスマホに全く触れないでいる人の方が稀で、<span class="text-primary font-weight-bold">Macを持ってないとクリエイティブなことはできないなんてこともない</span>
                    ぐらいいろんなアプリケーションが出てきています<br>
                    デジタルイラストやデザインをPCではなく、<span class="text-primary font-weight-bold">スマホやタブレットでやっているクリエーター</span>もいますし、
                    <span class="text-primary font-weight-bold">ローコードアプリでコーディングするエンジニア</span>も多くいます
                </p>
                <p>これらのツールやアプリを使いこなすことに適正はそれほどありません<br>
                    <span class="text-primary font-weight-bold">このツールやアプリが使えないと駄目だということもありません</span><br>
                    制作の手段は人それぞれで正解はありません
                </p>
                <p>大事なのは<span class="text-primary font-weight-bold">自身で何かを作り上げたいという気持ち</span>です<br>
                   もし<span class="text-primary font-weight-bold">一人でできないことがあったら私たちや誰かに声をかけてみてください</span>
                </p>
            </div>
        </div>

        <div class="row p-4 flexbox">
            <div class="col-6 box1 mt-3">
                <a href="{% url 'site_app:lang' %}" class="btn1 btn1-flat d-flex align-items-center"><span>プログラミング</span></a>
            </div>
            <div class="col-6 box2 mt-3">
                <a href="{% url 'site_app:example' %}" class="btn1 btn1-flat d-flex align-items-center"><span>システム開発</span></a>
            </div>
        </div>


        
        
    </div>

{% endblock %}