{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}デジタルの魅力{% endblock %}

{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block header %}
    <h1 class="text-center">デジタルの魅力</h1>
{% endblock %}

{% block contents %}


    {% comment %} コンテンツ {% endcomment %}
    <div class="container">
        <div class="row p-4">
            <h2>人の夢を目標に変えてくれる</h2>
            <div class="col-8 bg-light">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-4">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/greg-rakozy-oMpAz-DN-9I-unsplash.jpg' %}" width="150%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>リアルでできないことでもデジタル(バーチャル)なら実現できる</h2>
            <div class="col-8 bg-light">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-4">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/バーチャル.jpg' %}" width="150%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>多くの人がクリエーターになれる可能性が増えた</h2>
            <div class="col-8 bg-light">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-4">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/convertkit-Ky2YPCpnmK0-unsplash.jpg' %}" width="150%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <div class="col-6 bg-light">
                <a href="{% url 'site_app:lang' %}">プログラミングとは</a>
            </div>
            <div class="col-6">
                <a href="{% url 'site_app:example' %}">システム開発とは</a>
            </div>
        </div>


        
        
    </div>

{% endblock %}