{% load static %}

<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Field-UP">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'site_app/css/layout.css' %}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="{% static 'site_app/js/layout.js' %}"></script>

    <!-- 各種設定 -->
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}

  </head>
  <body>
    <!-- ヘッダー -->
    <header id="header1">
      <div class="row bg-1">
        <div class="col-8">
          <a href="{% url 'site_app:top' %}"><img class="m-3" src="{% static 'site_app/img/logo.png' %}" width="25%"></a>
        </div>
        <div class="col-1">
          
        </div>
        <div class="col-3">
          <video autoplay muted src="{% static 'site_app/img/screen.mp4' %}" width="70%">
        </div>

      </div>
      <div class="row">
        <nav>
          <ul>
            <li class="p-3"><a href="{% url 'site_app:company' %}">Company</a></li>
            <li class="p-3"><a href="{% url 'site_app:news' %}">News</a></li>
            <li class="p-3 has-child"><a href="#">Content</a>
              <ul>
                <li class="p-1"><a href="{% url 'site_app:appeal' %}">デジタルの魅力</a></li>
                <li class="p-1 has-child"><a href="{% url 'site_app:example' %}">システム開発とは</a>
                  <ul>
                    <li class="p-1"><a href="{% url 'site_app:example-1' %}">開発例:1</a></li>
                    <li class="p-1"><a href="{% url 'site_app:example-2' %}">開発例:2</a></li>
                    <li class="p-1"><a href="{% url 'site_app:example-3' %}">開発例:3</a></li>
                  </ul>
                </li>
                <li class="p-1 has-child"><a href="{% url 'site_app:lang' %}">プログラミングとは</a>
                  <ul>
                    <li class="p-1"><a href="{% url 'site_app:python' %}">Python</a></li>
                    <li class="p-1"><a href="{% url 'site_app:java' %}">Java</a></li>
                    <li class="p-1"><a href="{% url 'site_app:vba' %}">VBA</a></li>
                    <li class="p-1"><a href="{% url 'site_app:html' %}">HTML</a></li>
                    <li class="p-1"><a href="{% url 'site_app:css' %}">CSS</a></li>
                    <li class="p-1"><a href="{% url 'site_app:swift' %}">Swift</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="p-3"><a href="{% url 'site_app:contacts_faq' %}">Contacts & FAQ</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container mt-3">
      {% block contents %}{% endblock %}
    </div>

  {% comment %} {% block header %}{% endblock %} {% endcomment %}
  <!-- フッター -->
  <footer>
    <div class="row">
      <p class="text-center">test</p>
    </div>
  </footer>
  </body>
</html>