{% load static %}

<!-- フォト -->
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Serif+JP&display=swap" rel="stylesheet">

<div class="row mb-5">
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:vba' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/vba-logo.png' %}" width="90%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:python' %}"><img class="mt-2 d-block mx-auto" src="{% static 'site_app/img/python_cover.png' %}" width="70%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:java' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/javaロゴ.png' %}" width="30%"></a>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:powerautomate' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/pad.png' %}" width="100%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:kotlin' %}"><img class="mt-2 d-block mx-auto" src="{% static 'site_app/img/kotlin_logo.png' %}" width="70%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:css' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/CSS3.png' %}" width="25%"></a>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:php' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/php_PNG43.png' %}" width="50%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:swift' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/swift.png' %}" width="30%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:html' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/html_logo.png' %}" width="70%"></a>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:javascript' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/javascript-frameworks_1.png' %}" width="100%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:go' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/golang_neo.png' %}" width="80%"></a>
        </div>
    </div>
    <div class="col-4">
        <div class="d-block mx-auto">
            <a class="d-block lang-link-btn bound text-center btn-f" href="{% url 'site_app:c#' %}"><img class="d-block mx-auto" src="{% static 'site_app/img/C#_logo.png' %}" width="40%"></a>
        </div>
    </div>
</div>