{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}事業概要|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="Field-UPのシステム事業がどんなことをしているかお伝えします。サイトや、アプリの開発だけでなく、エンジニアの育成やオンライン講座、サーバー周りの業務など幅広く展開しております。システム事業以外にも違った事業も展開しているので是非ご覧ください。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center digital-font14" id="digital-font14">Company</h1>
        <div class="row mx-auto">
            <h2 class="digital-font15" id="digital-font15">やりたいこと夢を目標、現実へ落とし込んでいくためのプロフェッショナル</h2>
            <div class="row">
                <div class="col-md-8 mt-2">
                    <p>機械工学、内装業、心理学、システム開発、コンサルティングと複数の業界で今もなお、前線で活躍し続けています</p>
                    <p>だからこそ得られる新しい知見や、技術をそれぞれの現場で生かすことによって新しい発想や、他では思いもつかないような業界シナジーを生み出すことが私たちの強みです</p>
                    <h3>代表の思い</h3>
                    <p>僕は社会的に見て『できる人』という社会人では決してありません。失敗もしますし、物覚えも特別にいいということもないです<br>
                    そんな僕がこうやって事業を続けられてこれているのは『多くの良い仲間』と、野球を昔から続けてきて培った『諦めの悪さ』が僕をココまで成長させてくれました</p>
                    <p>今の事業形態や、僕のスキルはまだまだ途中経過でしかなく、今はまだ手の届く範囲が少なく、お手伝いのできる方々が少ないですが<br>
                    後にはもっと多くの人の力になれるような事業として成長していく予定です。</p>
                    <p>そのために大きな要因として『僕自身の成長 = 事業の成長』だと自覚して、慢心せずに仲間と一緒にスキルアップを続けていきます</p>

                </div>
                <div class="col-md-4 mt-2 mb-2">
                    <img class="d-block mx-auto" alt="CEO" src="{% static 'site_app/img/ceo1.jpg' %}" width="100%">
                    <h2 class="text-center">代表 上田敬介</h2>
                </div>

            </div>
            <div class="row mx-auto">
                <div class="text-center bg-white mt-5 p-3 div00 border border-3 border-info mb-5">
                    <p>会社名：Field-UP</p>
                    <p>所在地：〒114-0011 東京都北区昭和町1-4-7</p>
                    <p>代表者名：上田 敬介</p>
                    <p>設立年月日：2020年6月1日</p>
                </div>
            </div>
            
        </div>

        <div class="row mt-3 mb-4">
            <h3 class="text-center kind fade digital-font16" id="digital-font16">Kind</h3>
        </div>

        <div class="row flexbox">
            <div class="col-6 box1 fade">
                <div class="div02">
                    <a href="https://www.field-up.work/energy/" target="_blank"><img class="m-3 d-block mx-auto border border-5 border-danger" src="{% static 'site_app/img/energy_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
            <div class="col-6 box2 fade">
                <div class="div03">
                    <a href="https://www.field-up.work/mental_field-up/" target="_blank"><img class="m-3 d-block mx-auto border border-5 border-success" src="{% static 'site_app/img/mental_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
        </div>
        <div class="row flexbox">
            <div class="col-6 box1 fade">
                <div class="div04">
                    <a href="https://www.field-up.work/officeinterior/ " target="_blank"><img class="m-3 d-block mx-auto border border-5 border-warning" src="{% static 'site_app/img/construction_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
            <div class="col-6 box2 fade">
                <div class="div01">
                    <a href="{% url 'site_app:top' %}"><img class="m-3 d-block mx-auto border border-5 border-info" src="{% static 'site_app/img/system_business_rev1.jpg' %}" width="100%"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}