{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}Company{% endblock %}

{% block head %}
    <meta name="description" content="Field-UPの事業内容を紹介します">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center">Company</h1>
        <div class="row">
            <h2>やりたいこと夢を目標、現実へ落とし込んでいくためのプロフェッショナル</h2>
            <p>機械工学、内装業、心理学、システム開発、コンサルティングと複数の業界で
                今もなお前線で活躍し続けています</p>
            <p>だからこそ得られる新しい知見や、技術をそれぞれの現場で生かすことによって
                新しい発想や、他では思いもつかないような業界シナジーを生み出すことが私たちの強みです</p>

            <div class="text-center bg-white mt-3 p-3">
                <p>会社名：Field-UP</p>
                <p>所在地：〒114-0011 東京都北区昭和町1-4-7</p>
                <p>代表者名：上田 敬介</p>
                <p>設立年月日：2020年6月1日</p>
                <p>従業員数：1名</p>
            </div>
        </div>

        <div class="row mt-3">
            <h1 class="text-center">Kind</h1>
        </div>

        <div class="row p-2">
            <div class="col-6">
                <div class="">
                    <a href="https://www.field-up.work/" target="_blank"><img class="m-3 d-block mx-auto border border-5 border-danger" src="{% static 'site_app/img/energy_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
            <div class="col-6">
                <div class="">
                    <a href="https://www.field-up.work/mental_field-up/" target="_blank"><img class="m-3 d-block mx-auto border border-5 border-success" src="{% static 'site_app/img/mental_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6">
                <div class="">
                    <a href="https://www.field-up.work/officeinterior/ " target="_blank"><img class="m-3 d-block mx-auto border border-5 border-warning" src="{% static 'site_app/img/construction_business_rev2.jpg' %}" width="100%"></a>
                </div>
            </div>
            <div class="col-6">
                <div class="">
                    <a href="{% url 'site_app:top' %}"><img class="m-3 d-block mx-auto border border-5 border-info" src="{% static 'site_app/img/system_business_rev1.jpg' %}" width="100%"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}