{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}Contacts&FAQ|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="サイトやアプリケーションを作ってみたいという方は是非ご連絡ください。予算が限られている場合はどのぐらいの価格間で、どこまで作りたいかを教えて下さい。また、プログラミングを勉強したいという方も大歓迎です。一緒に開発をしてみることも考えていきましょう。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
    <script src="{% static 'site_app/js/mail.js' %}"></script>
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center">Contacts & FAQ</h1>
        <div class="row p-3">
            <h2 class="mb-4">駆け出しエンジニアから寄せられた声</h2>
            <div class="col-12">
                <div class="bg-white p-3 mt-2 mb-2">
                    <h2>Q : プログラミング言語って何個覚えればいいの？</h2>
                    <h4>A : 明確に何個と答えられませんが多いことに越したことはありません</h4>
                    <p>何か一つ得意な言語を身につければそこから似ている言語を順番に覚えていくと効率は良いです</p>
                </div>
                <div class="bg-white p-3 mt-2 mb-2">
                    <h2>Q : どんなことから勉強すればいいのですか？</h2>
                    <h4>A : オススメは、プログラミング言語の【読み下し】です</h4>
                    <p>プログラミング言語は、文字通り【言語】なので文法もあれば翻訳もできます<br>
                        【機械のわかる言葉 = プログラミング言語】を【人間のわかる言葉 = 日本語や英語】として読めるようになると<br>
                        どんな複雑な描き方のコードでも読みやすくなります</p>
                </div>
                <div class="bg-white p-3 mt-2 mb-2">
                    <h2>Q : 実際の現場では何が一番大事なスキルになりますか？</h2>
                    <h4>A : やはりコミュニケーション能力です</h4>
                    <p>どんなに経験を積んでいっても、全てを一人でやり切ることはできません<br>
                        その際に現場の他のエンジニアといかにコミュニケーションをとって、プロジェクトを進み続けて行けるかが重要なスキルになってきます<br>
                        自分一人ではできないことに対して、素直に助けを求めることも大事です</p>
                </div>
                <div class="bg-white p-3 mt-2 mb-2">
                    <h2>Q : コードを何も見ないでスラスラ書いていける自信がありません</h2>
                    <h4>A : 大丈夫です、そのレベルに至っているエンジニアは世の中でも少ないです</h4>
                    <p>エンジニアと聞いただけで、コードをスラスラ書いていくようなイメージがあるかもしれませんが実際の現場になったら意外とそうではありません<br>
                        確かにプログラムの大枠を作る際にはそうかもしれませんが、初めて使うライブラリや、APIが多数出てくることの方が圧倒的に多いので、都度使い方を調べながらコーディングしていくことが殆どです<br>
                        スラスラ書いていく場面が出てくるのはあくまで基本文法の部分がメインだと思ってもらえればいいです</p>
                        <p>現場で経験をどんどん積んでいけば、おのずとスラスラかけていく範囲が増えていきます</p>
                </div>
                <div class="bg-white p-3 mt-2 mb-2">
                    <h2>Q : どうやってエンジニアデビューすればいいのですか？</h2>
                    <h4>A : 先ずはロードマップを作りましょう</h4>
                    <p>手当たり次第に参考書を買って、スクールに行って、勉強しても確実にデビューできるとは限りません<br>
                        今では、【エンジニアデビューできます!!】とお題目を打っているスクールなどが増えていますが実際にはそれで仕事に繋がっているエンジニアの数は少ないです<br>
                        駆け出しエンジニアの数は既に世の中には溢れかえっていて、需要はほぼないです</p>
                    <p>今現場に求められエチルエンジニアは何か、どの業界でどんなエンジニアが求められているかをリサーチしつつ、それに当てはまれるような学習プランを立てていくことが大事になります<br>
                        単に学習スクールに通うよりも、そういったコンサルティング的なメンターをしてくれるサービスの業種の方に支援を求める方がいい場合もあります</p>
                    <p>もちろんField-UPではそういったサービスもしていますので、お気軽にお問い合わせ下さい</p>
                </div>

            </div>
        </div>

        <div class="row ">
            <h2 class="mt-4">お問い合わせ</h2>
            <div class="mt-5 mb-5 p-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" id="mail_sub">送信</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}