{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}Contacts & FAQ{% endblock %}

{% block head %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="{% static 'site_app/js/mail.js' %}"></script>
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center">Contacts & FAQ</h1>
        <div class="row p-3">
            <h2>駆け出しエンジニアから寄せられた声</h2>
            <div class="col-12">
                <div class="bg-white p-3 mb-3">
                    <p>Q : プログラミング言語って何個覚えればいいの？</p>
                    <p>A : 明確に何個と答えられませんが多いことに越したことはありません<br>
                            何か一つ得意な言語を身につければそこから似ている言語を順番に覚えていくと効率は良いです</p>
                </div>
                <div class="bg-white p-3 mb-3">
                    <p>Q : どんなことから勉強すればいいのですか？</p>
                    <p>A : オススメは、プログラミング言語の【読み下し】です<br>
                            プログラミング言語は、文字通り【言語】なので文法もあれば翻訳もできます<br>
                            【機械のわかる言葉 = プログラミング言語】を【人間のわかる言葉 = 日本語や英語】として読めるようになると<br>
                            どんな複雑な描き方のコードでも読みやすくなります</p>
                </div>
            </div>
        </div>

        <div class="row ">
            <h2 class="mt-4">お問い合わせ</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" id="mail_sub">送信</button>
            </form>
        </div>
    </div>

{% endblock %}