{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}システム開発|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="サイトやアプリケーションを自分で作ってみたいという方が最近は増えてきています。もちろん自身で作成することもできますが私たちにお任せしていただければとても良いサイトやアプリを開発いたします。実際にどのように開発を進めていくかをこのページでかいせついたします。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block contents %}


    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center digital-font05">システム開発</h1>
        <div class="row p-4">
            <h2 class="digital-font06">開発ってどう進むの？</h2>
            <div class="col-12 bg-white mt-3 p-3 bg-exsmple-01 div00">
                <p>こんなことを感じている方が多いのではないですか？<br>
                    <span class="text-primary font-weight-bold">『何かを作り出すのは大変じゃないの？』</span><br>
                    <span class="text-primary font-weight-bold">『新しいものを生み出せるのは特別な才能のある人だけなんじゃない?』</span><br>
                    知らないことを不安に感じることはいたって普通のことです<br>
                    なので開発とは何かを説明します
                </p>
                <h3 class="h3">開発の流れ</h3>
                <ul>
                    <li><span class="text-warning font-weight-bold">要求定義</span></li>
                    <p>システムに求める仕様を決めていくことで、クライエントからどんなものが欲しいかの要求を出しいてもらう工程</p>
                    <li><span class="text-warning  font-weight-bold">要件定義</span></li>
                    <p>システムを動かすための仕様を決めていくことで、開発側が要求定義書の要求をシステムに落としい込んでいく工程</p>
                    <li><span class="text-warning  font-weight-bold">設計</span></li>
                    <p>設計と大まかにはありますがユーザーが使いやすいように見た目を決めていくUI設計、細かなシステムの仕組みを決めていく詳細設計など多岐に分かれる</p>
                    <li><span class="text-warning  font-weight-bold">プログラミング</span></li>
                    <p>設計で決めた通りにプログラムコードを書いていくこと<br>
                        最近ではノーコード、ローコードでプログラミングができる仕組みもある</p>
                    <li><span class="text-warning  font-weight-bold">テスト</span></li>
                    <p>出来上がったらテストを行い、動作に問題ないか、ユーザーの要望どおりになっているかを確認<br>
                        モジュール事に行う単体テスト、モジュール同士を組合わせて行う結合テスト、実際の利用を想定した運用テストなどがある</p>
                    <li><span class="text-warning  font-weight-bold">リリース</span></li>
                    <p>作ったシステムを運用できる形に仕上げる工程<br>
                        デスクトップアプリならexeやフォルダの配置、WEBサイトやアプリならサーバーへのデプロイを行う</p>
                    <li><span class="text-warning  font-weight-bold">保守</span></li>
                    <p>システムが正常に作動するかを定期的に確認し、トラブルが起きないようにすること</p>
                </ul>
                <p>開発の種類として<br>
                    <span class="text-primary font-weight-bold">ウォーターフォール型</span>と<span class="text-primary font-weight-bold">アジャイル型</span>に大きく分かれます<br>
                    上記で説明した開発の流れを順番に進めていくことと、少しずつ作り上げながら何度も何度も繰り返しいながら仕上げていく違いがある<br>
                    さらに既存のパッケージなどを使わない<span class="text-primary font-weight-bold">スクラッチ開発</span>があり<br>
                    世界で一つだけの完全オリジナルのシステムを作り上げる開発もある
                </p>
            </div>
        </div>

        <div class="row p-4">
            <h2 class="digital-font07">Dev-Opsってなに？</h2>
            <div class="col-12 bg-white mt-3 p-3 bg-exsmple-02 div00">
                <p>システムは開発して作り上げたら終わりではありません<br>
                    運用しながら<span class="text-primary font-weight-bold">『もっとこうしていきたい!!』</span>、<span class="text-primary font-weight-bold">『運用してみてこんなことに気づいた!!』</span><br>
                    こんな時にシステムをどんどん良くしていくために開発の流れを何度も回してシステムをより良くしていく概念をDev-Opsと表現されています
                </p>

                <img class="d-block mx-auto sp-img" alt="開発" src="{% static 'site_app/img/devops.jpg' %}" width="50%">

            </div>
        </div>

        <div class="row p-4">
            <h2 class="digital-font08">どのぐらいの費用でできるの？</h2>
            <div class="col-12 bg-white mt-3 p-3 bg-exsmple-03 div00">
                <p>開発費用は一概には決められませんが、主な価格設定の基準は<span class="text-primary font-weight-bold">人件費</span>です<br>
                    <span class="text-primary font-weight-bold">そのシステムを作るのにどれだけの時間がかかるか</span>で大まかな費用が決まりそれを<span class="text-primary font-weight-bold">何人体制で作るか</span>が決め手となります<br>
                    保守に関しては月単位で価格を決めることが一般的です
                    とはいえ<span class="text-primary font-weight-bold">作るシステムやアプリの相場はある</span>ので下記の表を参考にしてください
                </p>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50%">分類</th>
                            <th scope="col" style="width: 50%">相場(価格帯)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>WEBページ(1ページ)</td>
                            <td>3万~</td>
                        </tr>
                        <tr>
                            <td>メールフォーム単体(フレークワークなど使用)</td>
                            <td>3万~</td>
                        </tr>
                        <tr>
                            <td>メールフォーム単体(スクラッチ開発)</td>
                            <td>10万~</td>
                        </tr>
                        <tr>
                            <td>CMS(WordPressなど)</td>
                            <td>40万~</td>
                        </tr>
                        <tr>
                            <td>フレームワーク(ライブラリ)WEBアプリ(Djangoなど)</td>
                            <td>80万~</td>
                        </tr>
                        <tr>
                            <td>SNS</td>
                            <td>100万~(機能によって大きく異なります)</td>
                        </tr>
                        <tr>
                            <td>小規模サイト(約10ページ)</td>
                            <td>40万~</td>
                        </tr>
                        <tr>
                            <td>大規模サイト(約80ページ)</td>
                            <td>150万~</td>
                        </tr>
                        <tr>
                            <td>WEBアプリケーション</td>
                            <td>80万~(機能によって大きく異なります)</td>
                        </tr>
                        <tr>
                            <td>スマートフォンアプリケーション</td>
                            <td>70万~(機能によって大きく異なります)</td>
                        </tr>
                    </tbody>
                  </table>

            </div>
        </div>

        <div class="row p-4 flexbox">
            <h2 class="digital-font09 mb-4">こんなことができる!!</h2>
            <div class="col-4 bg-light box1 div00">
                <a href="https://field-up.work/energy_test/index.html" target="_blank"><img class="m-3" alt="開発事例1" src="{% static 'site_app/img/開発例1.jpg' %}" width="90%"></a>
            </div>
            <div class="col-4 bg-light box2 div00">
                <a href="https://field-up.work/demo_room/main.html" target="_blank"><img class="m-3" alt="開発事例2" src="{% static 'site_app/img/開発例2.jpg' %}" width="90%"></a>
            </div>
            <div class="col-4 bg-light box3 div00">
                <a href="https://field-up.work/bound_demo/" target="_blank"><img class="m-3" alt="開発事例3" src="{% static 'site_app/img/開発例3.jpg' %}" width="90%"></a>
            </div>

        </div>

        <div class="row p-4 flexbox">
            <div class="col-6 box1 mt-3">
                <a href="{% url 'site_app:appeal' %}" class="btn1 btn1-flat d-flex align-items-center"><span>デジタルの魅力</span></a>
            </div>
            <div class="col-6 box2 mt-3">
                <a href="{% url 'site_app:example' %}" class="btn1 btn1-flat d-flex align-items-center"><span>システム開発</span></a>
            </div>
        </div>

        
    </div>

{% endblock %}