{% load static %}

<!-- フォト -->
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
{% comment %} <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css"> {% endcomment %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Serif+JP&display=swap" rel="stylesheet">

<div class="container">
    <div class="row mb-5 flexbox">
        <div class="col-4 box1">
            <div class="mt-4 p-3">
                <h3 class="text-center">心理事業</h3>
                <p class="border-top">ココロの悩みからメンタルコントロールまであらゆるココロの問題にお答えしています</p>
                <p>仕事や日常生活に使える考え方が映像コンテンツで盛りだくさん</p>
                <p>是非<a href="https://www.field-up.work/mental_field-up/" target="_blank">こちら</a>からご覧ください</p>
            </div>
        </div>
        <div class="col-4 box2">
            <div class="mt-4 p-3">
                <h3 class="text-center">内装事業</h3>
                <p class="border-top">安価でかっこいい職場づくりはおまかせください</p>
                <p>デザイン設計から消防関連業、移転、施工まで一貫して行えます</p>
                <p>気になる方は<a href="https://www.field-up.work/officeinterior/" target="_blank">こちら</a></p>
            </div>
        </div>
        <div class="col-4 box3">
            <div class="mt-4 p-3">
                <h3 class="text-center">省エネ事業</h3>
                <p class="border-top">工場をはじめ、オフィスなどの職場の省エネ推進をサポートします</p>
                <p>省エネを専門で行わないと知らないノウハウ提供や、職場設計、工事にご興味がある方は<a href="https://www.field-up.work/energy/" target="_blank">こちら</a></p>
            </div>
        </div>
    </div>
</div>