{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}プログラミング{% endblock %}

{% block head %}
    <meta name="description" content="プログラミング言語について解説します">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content mb-5">
        <h1 class="text-center">プログラミング</h1>
        <div class="row p-4">
            <h2>プログラミング言語って何？</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p>人とPCを橋渡ししてくれる言葉のようなもので、英単語やその短縮系のような文字が繋がっている<br>
                    言語によって同じ意味合いでも単語が違ったり、文法が少し違ったりします
                </p>
                <p>
                    今世の中にある<span class="text-primary font-weight-bold h5">プログラミング言語の種類は200以上</span>あるといわれています<br>
                    ただその中でも実際に使われているものは10%程度です
                    なぜプログラミング言語が複数あるのかというと得意な範囲が違うことと<br>
                    古い言語より新しい言語の方がプログラミングが楽になっているという違いがある
                </p>
                <p>例えば<span class="text-primary font-weight-bold h5">WEBアプリが得意な言語ではPHP</span>、スマホアプリでも、<span class="text-primary font-weight-bold h5">AndroidアプリならKotlin</span>、<span class="text-primary font-weight-bold h5">iOsアプリならSwift</span>に分かれます<br>
                    中でも<span class="text-primary font-weight-bold h5">Javaという言語はありとあらゆるものに対応できる</span><br>
                    しかし、最近のプログラミング言語に比べてコーディングに必要な知識が必要なものが多く必要になってくる<br>
                    日本企業でよく利用されている<span class="text-primary font-weight-bold h5">ExcelにもVBA</span>というプログラミング言語が利用でき、私たちの身近に意外と近しいものです
                </p>

                <p>初めて<span class="text-primary font-weight-bold h5">プログラミングを学習し始める人が好んでいるものはHTMLとCSS</span>で、WEBサイトを作るためには必須の言語になります<br>
                    キレイなデザインを作るためのテクニックは別で学習しないといけませんが、この言語が自由自在に使えると自分だけのWEBサイトが作れるようになります<br>
                </p>    
                <p>これに合わせて次のステップとして学習するものが<span class="text-primary font-weight-bold h5">JavaScript</span>という言語で、これによってただ画像や図を表示するようなサイトからクリックをすると<br>
                    サイトの一部が動いたり、計算機能が使えたりと作れるモノの幅が一気に広がります
                </p>

            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/james-harrison-vpOeXr5wmR4-unsplash.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>適正はあるが誰でもできる</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p><span class="text-primary font-weight-bold h5">『PCを今まであまり触ってない未経験でもできますか？』</span></p>
                <p><span class="text-primary font-weight-bold h5">『ウチにこんなシステム入れても使えないよ』</span></p>
                <p>こんな声をよく聞きます</br>
                    結論から話すと<span class="text-primary font-weight-bold h5">できます</span></p>
                <p>ただその中でも適正はありますので、やり始めてすんなりできてしまう人もいれば<br>
                    時間をかけてゆっくり覚えていく人など慣れや技術習得には差が出てきます</p>
                <p>ですが<span class="text-primary font-weight-bold h5">周りを見て焦る必要はありません</span><br>
                   それぞれのペースで進めていければよいと思います</p>
            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/positive-gffe556813_1920.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>アルゴリズム</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p>アルゴリズムというと難しい層と感じる人もいるかもしれませんが<span class="text-primary font-weight-bold h5">何かをするときに必要な手順</span>のようなもののことをアルゴリズムと言います</p>
                <p>簡単なアルゴリズムの例を載せます</p>
                <p><span class="text-success font-weight-bold h5">手順:1</span><br>
                    メールの文面を作成し、内容の確認をする</p>
                <p><span class="text-success font-weight-bold h5">手順:2</span><br>
                    宛先にアドレスを入れる</p>
                <p><span class="text-success font-weight-bold h5">手順:3</span><br>
                    送信ボタンを押す</p>
                <p><span class="text-success font-weight-bold h5">手順:4</span><br>
                    送信できているかを確認する</p>
                <p><span class="text-success font-weight-bold h5">手順:5</span><br>
                    他の人にも同じメールを送る場合には手順:3に戻る<br>
                    そうでなければ終了</p>
                <p>とても簡単にですがこれがアルゴリズムの例です<br>
                    日頃やっていることや、これから作ろうとしているシステムやプログラムに<span class="text-primary font-weight-bold h5">どんなことを、どんな手順で実施するか</span>
                    を整理さえできれば、自身でプログラムを書くことも、誰かに依頼することもできます</p>
            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/mark-g263e4c72f_1920.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        {% include 'site_app/button.html' %}
        
    </div>

{% endblock %}