{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}プログラミングとは{% endblock %}

{% block head %}
    <meta name="description" content="プログラミング言語について解説します">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block header %}
    <h1 class="text-center">プログラミングとは</h1>
{% endblock %}

{% block contents %}


    {% comment %} コンテンツ {% endcomment %}
    <div class="container">
        <div class="row p-4">
            <h2>プログラミング言語って何？</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p>人とPCを橋渡ししてくれる言葉のようなもので、英単語やその短縮系のような文字が繋がっている<br>
                    言語によって同じ意味合いでも単語が違ったり、文法が少し違ったりします
                </p>
                <p>
                    今世の中にある<span class="text-primary font-weight-bold h5">プログラミング言語の種類は200以上</span>あるといわれています<br>
                    ただその中でも実際に使われているものは10%程度です
                    なぜプログラミング言語が複数あるのかというと得意な範囲が違うことと<br>
                    古い言語より新しい言語の方がプログラミングが楽になっているという違いがある
                </p>
                <p>例えば<span class="text-primary font-weight-bold h5">WEBアプリが得意な言語ではPHP</span>、スマホアプリでも、<span class="text-primary font-weight-bold h5">AndroidアプリならKotlin</span>、<span class="text-primary font-weight-bold h5">iOsアプリならSwift</span>に分かれます<br>
                    中でも<span class="text-primary font-weight-bold h5">Javaという言語はありとあらゆるものに対応できる</span><br>
                    しかし、最近のプログラミング言語に比べてコーディングに必要な知識が必要なものが多く必要になってくる<br>
                    日本企業でよく利用されている<span class="text-primary font-weight-bold h5">ExcelにもVBA</span>というプログラミング言語が利用でき、私たちの身近に意外と近しいものです
                </p>

                <p>初めて<span class="text-primary font-weight-bold h5">プログラミングを学習し始める人が好んでいるものはHTMLとCSS</span>で、WEBサイトを作るためには必須の言語になります<br>
                    キレイなデザインを作るためのテクニックは別で学習しないといけませんが、この言語が自由自在に使えると自分だけのWEBサイトが作れるようになります<br>
                </p>    
                <p>これに合わせて次のステップとして学習するものが<span class="text-primary font-weight-bold h5">JavaScript</span>という言語で、これによってただ画像や図を表示するようなサイトからクリックをすると<br>
                    サイトの一部が動いたり、計算機能が使えたりと作れるモノの幅が一気に広がります
                </p>

            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/james-harrison-vpOeXr5wmR4-unsplash.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>適正はあるが誰でも覚えられる</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/positive-gffe556813_1920.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        <div class="row p-4">
            <h2>アルゴリズム</h2>
            <div class="col-7 bg-white mt-3 p-3">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-5">
                <div class="p-2">
                    <img class="m-3" src="{% static 'site_app/img/mark-g263e4c72f_1920.jpg' %}" width="100%">
                </div>
            </div>
        </div>

        
    </div>

{% endblock %}