{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}News{% endblock %}

{% block head %}
    <meta name="description" content="Field-UPに関する最新のニュースを掲載します">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">
{% endblock %}

{% block header %}
    <h1 class="text-center">News</h1>
{% endblock %}

{% block contents %}


    {% comment %} コンテンツ {% endcomment %}
    <div class="container">
        <div class="row p-2 bg-white">
            <div class="col-2 bg-info"></div>
            <div class="col-8">
                <p>2022-08-01 : システム事業サイト開設</p>
            </div>
            <div class="col-2 bg-info"></div>
        </div>

        <div class="row p-2 bg-white">
            <div class="col-2 bg-info"></div>
            <div class="col-8">
                <p>2022-08-01 : プログラミング言語動画各種配信中!!</p>
            </div>
            <div class="col-2 bg-info"></div>
        </div>
    </div>

{% endblock %}