{% load static %}

<div class="row p-2 border border-3 border-secondary bag01 bg-white">
    <div class="col-2 bg-info"></div>
      <div class="col-8">
        <p>2022-6-12 : 『THE INNOVATOR』に載りました。<a href="https://the-innovator.jp/interviewees/ueda_keisuke/" target="_blank">サイトへはコチラから</a></p>
      </div>
    <div class="col-2 bg-info"></div>
  </div>

  <div class="row p-2 border border-3 border-secondary bag01 bg-white">
    <div class="col-2 bg-info"></div>
      <div class="col-8">
        <p>2022-10-16 : Field-UP総合サイト開設。<a href="https://www.field-up.work/" target="_blank">サイトへはコチラから</a></p>
      </div>
    <div class="col-2 bg-info"></div>
  </div>

  <div class="row p-2 border border-3 border-secondary bag01 bg-white">
    <div class="col-2 bg-info"></div>
    <div class="col-8">
        <p>2022-08-01 : システム事業サイト開設</p>
    </div>
    <div class="col-2 bg-info"></div>
  </div>

  <div class="row p-2 border border-3 border-secondary bag01 bg-white">
    <div class="col-2 bg-info"></div>
      <div class="col-8">
        <p class="">2022-08-01 : プログラミング言語動画各種配信中!!</p>
      </div>
    <div class="col-2 bg-info"></div>
  </div>