{% load static %}

<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Field-UP">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'site_app/css/layout.css' %}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="{% static 'site_app/js/layout.js' %}"></script>
   
    <!-- フォト -->
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    {% comment %} <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css"> {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Serif+JP&display=swap" rel="stylesheet">

    <!-- 各種設定 -->
    <title>Field-UP|サイト制作・アプリ開発・プログラミング</title>
    <meta name="description" content="近年デジタル要素が増えていく中で、システムや、プログラミングといった言葉を無視できない時代です。システム開発やアプリケーション開発のことを知りたい方は必見です。開発な流れや、どのぐらいの価格で制作ができるのかの目安まで知ることができます。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ">

    <!-- ファビコン -->
    <link rel="icon" type="image/png" href="{% static 'site_app/img/ファビコン1.png' %}">

    {% comment %} GA4 {% endcomment %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167968304-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167968304-8');
    </script>

  </head>
  <body>

    <div class="loader loader-wrap">Loading...</div>

    <!-- ヘッダー -->
    <header id="header1">
      <div class="row bg-1">
        <div class="col-12">
          <a href="{% url 'site_app:top' %}"><img class="m-3 sp-logo" als="屋号ロゴ" src="{% static 'site_app/img/logo.png' %}" width="350px"></a>
          <video autoplay muted loop src="{% static 'site_app/img/mini_anime.mp4' %}" width="250px" class="float-end anime01">
        </div>
      </div>

      <div class="row">
        <nav class="nav-1">
          <ul class="bag02">
            <li class="p-3"><a href="{% url 'site_app:company' %}">Company</a></li>
            {% comment %} <li class="p-3"><a href="{% url 'site_app:news' %}">News</a></li> {% endcomment %}
            <li class="p-3 has-child"><a href="#">Content</a>
              <ul>
                <li class="p-1"><a href="{% url 'site_app:appeal' %}">デジタルの魅力</a></li>
                <li class="p-1 has-child"><a href="{% url 'site_app:example' %}">システム開発</a>
                  <ul>
                    <li class="py-1"><a href="https://field-up.work/energy_test/index.html" target="_blank">開発例:1</a></li>
                      <li class="pb-1"><a href="https://field-up.work/demo_room/main.html" target="_blank">開発例:2</a></li>
                      <li class=""><a href="https://field-up.work/bound_demo/" target="_blank">開発例:3</a></li>
                  </ul>
                </li>
                <li class="p-1 has-child"><a href="{% url 'site_app:lang' %}">プログラミング</a>
                  <ul>
                    <li class="p-1"><a href="{% url 'site_app:vba' %}">VBA</a></li>
                    <li class="p-1"><a href="{% url 'site_app:python' %}">Python</a></li>
                    <li class="p-1"><a href="{% url 'site_app:java' %}">Java</a></li>
                    <li class="p-1"><a href="{% url 'site_app:powerautomate' %}">PowerAutomate</a></li>
                    <li class="p-1"><a href="{% url 'site_app:kotlin' %}">Kotlin</a></li>
                    <li class="p-1"><a href="{% url 'site_app:css' %}">CSS</a></li>
                    <li class="p-1"><a href="{% url 'site_app:php' %}">PHP</a></li>
                    <li class="p-1"><a href="{% url 'site_app:swift' %}">Swift</a></li>
                    <li class="p-1"><a href="{% url 'site_app:html' %}">HTML</a></li>
                    <li class="p-1"><a href="{% url 'site_app:javascript' %}">JavaScript</a></li>
                    <li class="p-1"><a href="{% url 'site_app:go' %}">Go</a></li>
                    <li class="p-1"><a href="{% url 'site_app:c_sharp' %}">C#</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="p-3"><a href="{% url 'site_app:contacts_faq' %}">Contacts & FAQ</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container mt-3 content1 mb-5">
        <div class="col-8 first_view position-relative d-block mx-auto mb-5 div01">
            <video autoplay muted class="w-100 movie-1">
                <source src="{% static 'site_app/img/top_m.mp4' %}" type="video/mp4">
            </video>
            <video autoplay muted loop class="w-100 d-none movie-2">
                <source src="{% static 'site_app/img/top_m2.mp4' %}" type="video/mp4">
            </video>
        </div>
    
        {% comment %} ニュース {% endcomment %}

            <div class="row mb-5 fade">

              <h3 class="text-center mb-2 kind">News</h3>

              <div class="row p-2 bg-dark bag01">
                <div class="col-2 bg-info"></div>
                <div class="col-8">
                    <p>2022-08-01 : システム事業サイト開設</p>
                </div>
                <div class="col-2 bg-info"></div>
              </div>
    
              <div class="row p-2 bg-dark bag01">
                  <div class="col-2 bg-info"></div>
                    <div class="col-8">
                        <p class="">2022-08-01 : プログラミング言語動画各種配信中!!</p>
                    </div>
                  <div class="col-2 bg-info"></div>
              </div>

              <div class="row p-2 bg-dark bag01">
                <div class="col-2 bg-info"></div>
                  <div class="col-8">
                    <p>2022-10-16 : Field-UP総合サイト解説。<a href="https://www.field-up.work/" target="_blank">サイトへはコチラから</a></p>
                  </div>
                <div class="col-2 bg-info"></div>
              </div>
            </div>

        

        {% comment %} コンテンツ {% endcomment %}

            <div class="row flexbox fade">
                  <div class="col-4 box1 mt-4 div01">
                    <a href="{% url 'site_app:appeal' %}"><img alt="デジタルの魅力" src="{% static 'site_app/img/デジタルの魅力.jpg' %}" width="100%"></a>
                  </div>
                  <div class="col-4 box2 mt-4 div02">
                    <a href="{% url 'site_app:example' %}"><img alt="システム開発" src="{% static 'site_app/img/システム開発とは.jpg' %}" width="100%"></a>
                  </div>
                  <div class="col-4 box3 mt-4 div03">
                    <a href="{% url 'site_app:lang' %}"><img alt="プログラミング" src="{% static 'site_app/img/プログラミングとは.jpg' %}" width="100%"></a>
                  </div>
            </div>
    </div>

  {% comment %} {% block header %}{% endblock %} {% endcomment %}
  <!-- フッター -->
  </body>
  <footer class="bg-dark">
    {% include 'site_app/footer.html' %}
  </footer>
</html>














