{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}HTML|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="プログラミングを初めて触る方が一番に触るのはこの言語化もしれません。WEBサイトの制作に必須の言語で、主にWEBデザイナーさんがこの言語を使うこと多いです。プログラミングの基本が詰まった開発言語ですので、しっかり会得しましょう。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ,HTML,AI,フレームワーク">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center">HTML</h1>
        
        {% for main in main_list %}
        <div class="row p-3 flexbox">
            <div class="col-4 bg-light box1">
                <img class="m-3" class="d-block mx-auto" alt="サムネイル" src="{{ main.thumbnail.url }}" width="50%">
            </div>
            <div class="col-4 box2">
                <p>{{ main.summary_text }}</p>
            </div>
            <div class="col-4 box3">
                <iframe width="400" height="225" class="d-block mx-auto" src="{{ main.iframe_code }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}

        {% include 'site_app/page.html' %}
        
        {% include 'site_app/button.html' %}
    </div>

{% endblock %}