{% extends 'site_app/base_2.html' %}

{% load static %}

{% block title %}Swift|Field-UP{% endblock %}

{% block head %}
    <meta name="description" content="SwiftはMac_PCで開発することができるiOS専用アプリの開発言語です。日本のiPhoneシェア率は約50%と半分の人が持っており、最近ではパソコンよりスマホを触る機会の方が多い傾向にあります。そんな中でとても需要の多い言語ですが意外と開発エンジニアは多くはありません。覚えると武器になること間違いなし。">
    <meta name="keywords" content="プログラミング,開発,システム開発,Field-UP,フィールドアップ,FIELD-UP,アプリケーション,アプリ,Swift,AI,フレームワーク">
{% endblock %}

{% block contents %}

    {% comment %} コンテンツ {% endcomment %}
    <div class="container content">
        <h1 class="text-center cont-h">Swift</h1>
        
        {% for main in main_list %}
        <div class="row pt-3 flexbox">
            <div class="col-4 bg-light box1">
                <img class="m-3" class="d-block mx-auto" alt="サムネイル" src="{{ main.thumbnail.url }}" width="50%">
            </div>
            <div class="col-4 box2">
                <p>{{ main.summary_text }}</p>
            </div>
            <div class="col-4 box3">
                <iframe width="400" height="225" class="d-block mx-auto" src="{{ main.iframe_code }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
        
        {% include 'site_app/page.html' %}
        
        {% include 'site_app/button.html' %}
    </div>

{% endblock %}